.menu-item {
    height: 350px;
    min-width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-family: 'Quicksand', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0.5%;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    
      & .background-image {
        transform: scale(1.2);
        transition: transform 5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      &.content {
        opacity: 0.9;
      }
    }

    &.coming-soon {
      cursor: not-allowed;
      .content{
        background-color: rgba(235, 20, 20, 0.8);
      }
    }
  
    .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
    
    .content {
      height: 350px;
      width: 250px;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: start;
      border: 1px solid black;
      background-color: rgba(5, 5, 5, 0.543);
      opacity: 0.6;
      position: absolute;
  
      .title {
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 1.8rem;
        color: #ffffff;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 1.2rem;
        color: #ffffff;
      }
    }
  }


@media only screen and (max-width: 992px) {
  .menu-item {
    min-width: 40%;  
    &.large {
      height: 240px;
    }
    .content {
      height: 150px;
      width: 220px;
    }
  }
}

@media only screen and (max-width: 776px) {
  .menu-item {
    min-width: 100%;  
    height: 340px;

    &.large {
      height: 340px;
    }
    .content {
      height: 180px;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .menu-item {
    min-width: 100%;  
    height: 340px;

    &.large {
      height: 340px;
    }
    .content {
      height: 220px;
      width: 220px;
    }
  }
}
