.card-grad {
    color: rgba(222, 187, 240, 0.8);
    box-shadow: 0 0 40px rgba(153, 65, 197, 0.8);
    background-size: 200% auto;
    background-image: linear-gradient(to right, rgba(71,9,112,0.6) 0%, rgba(153,49,204,0.6) 50%, rgba(71,9,112,0.6) 96%);
    transition: all 0.6s ease-in-out;
}

.card-grad:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
    transform: translateX(5px) rotate(2deg);
}