.directory-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }


@media only screen and (max-width: 776px) {
  .directory-menu {
    padding: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .directory-menu {
    padding: 1rem;
  }
}
