.collection {
   transform: translateZ(0);
   transition: transform 0.25s ease-out;    
 }

.collection:hover {
      transform: scale(1.05);
}

.collection2 {
      transform: translateZ(0);
      transition: transform 0.25s ease-out;    
    }
   
   .collection2:hover {
         transform: scale(1.10);
   }