.hover-scale {
   transform: translateZ(0);
   transition: transform 0.25s ease-out;   
}

.hover-scale:hover {
      transform: scale(1.05);
}

.hover-scale2 {
      transform: translateZ(0);
      transition: transform 0.25s ease-out;    
}
   
.hover-scale2:hover {
   transform: scale(1.10);
}
