.hover-scale {
      transition: transform 0.25s ease-out;   

      &:hover {
      transform: scale(1.05);
      }
}

.hover-scale-change {
      transition: transform 0.25s ease-out;
   
      &:hover {
      transform: scale(1.20);
      }

      :active {
      color: rgb(255, 255, 255);
      }
}

.hover-scale-rotate {
      transition: transform 0.25s ease-out;
      
      &:hover {
      transform: rotate(120deg);
      }

      &:active {
      transform: rotate(270deg);
      }
}

.box-animation {

      &:active {
            animation: boxAnimation 1s linear 0s 1 normal none;
      }
}

@keyframes boxAnimation {
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
}

.auth-img-library-animation {

      filter: grayscale(100%);

      &:hover {
            filter: grayscale(0%);
            animation: authImgLibraryAnimation 1s ease 0s 1 normal forwards;
      }

      &:active {
            filter: grayscale(50%)
      }
}


@keyframes authImgLibraryAnimation {
      0% {
        transform: translateX(0);
      }
    
      100% {
        transform: translateX(20px);
      }
}


.auth-name-library-animation {

      filter: grayscale(100%);

      &:hover {
            filter: grayscale(0%);
            animation: authNameLibraryAnimation 1s ease 0s 1 normal forwards;
      }
}


@keyframes authNameLibraryAnimation {
      0% {
        transform: translateX(0);
      }
    
      100% {
        transform: translateX(-20px);
      }
}

.author-home-animation {
      filter: grayscale(100%);

      &:hover {
            filter: grayscale(0%)
      }
}