.qt-header-title {
  padding-top: 1%;
  font-size: 300%;
  color: rgb(255, 255, 255);
}
  
.qt-header-subtitle {
    font-size: 150%;
    padding-bottom: 2%;
    color: rgb(248, 246, 246);
}

.qt-header-column {
  float: left;
  padding: 10px;
  text-align: center;
}

/* Left and right column */
.qt-header-column.side {
  width: 25%;
}

/* Middle column */
.qt-header-column.middle {
  width: 50%;
}

.qt-homepage-logo {
  width: 45%;
  margin-top: -15%;
}

/* Clear floats after the columns */
.qt-header-row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768px) {
  .qt-header-column.side, .qt-header-column.middle {
    width: 100%;
  }
  .qt-homepage-logo {
    width: 100%;
    margin-top: 1%;
  }
}