.qt-box-column {
  float: left;
  width: 100%;
  margin: 1%;
}

.qt-author-column {

  &.left {
    float: left;
    width: 20%;    
  }
  
  &.right {
    float: left;
    width: 76%;
    padding-top: 10%;
  }
}


.qt-box-text {
    font-size: 250%;
    padding: 5%;
}

.qt-box-author {
    font-size: 150%;
    padding: 5% 2% 0%;
}


@keyframes blink {
  from {background-color: rgba(255, 255, 255, 0.459);}
  to {background-color: rgb(0, 0, 0);}
}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 768) {
  .qt-author-column.left {
    width: 26%;
  }
  .qt-author-column.right {
    width: 60%;
  }
}

@media screen and (max-width: 1024px) {
  .qt-author-column.left {
    width: 26%;
  }
  .qt-author-column.right {
    width: 60%;
  }
}