.snakes-and-ladders-box {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . .";
      
      height: 600px;
      width: 600px;
      padding: 0px;
      align-items: center;
      color: rgba(204, 204, 215, 0);
}

.snakes-and-ladders-board {
  background-image: url("../../assets//game-board.png");
  background-repeat: no-repeat;
  background-size: 600px 600px;
}

.snakes-and-ladders-panel {
  height: 780px;
  width: 800px;
}